/* layout */
$mobile-width: 480px;
$tablet-width: 768px;
$desktop-width: 992px;
$large-desktop-width: 1200px;
$slarge-desktop-width: 1680px;
$glyph: 'Glyphicons Halflings';
$desktop-height: 1050px;

/* colors */
$templateColor: #adc71b;
$titleColor: #0a0a0a;
$hoverColor: #8ea317;
$elementsColor: #76880f;

/* fonts */
$defaultFont: 'Open Sans',Helvetica,Arial,sans-serif;
$titleFont: 'Montserrat',Helvetica,Arial,sans-serif;